.item {
    padding-bottom: 15px;
    display: grid;
    grid-template-areas:
    "a m"
    ". r";

    grid-template-columns: 50px 1fr;
    grid-auto-columns: 2fr 10fr;
    grid-gap: 10px;
}

.avatar {
    display: flex;
    align-items: flex-end;
    grid-area: a;
}

.avatar img {
    display: flex;
    width: 50px;
    border-radius: 30px;
}

.message {
    grid-area: m;
    background-color: dodgerblue;
    border-radius: 50px;
    padding: 15px 25px;
    width: 440px;
    min-height: 25px;
}

.response {
    grid-area: r;
    padding: 5px 25px;
    display: flex;
}
.like {
    padding-top: 4px;
}
.like img {
    width: 20px;
    padding-bottom: 1px;
}

.comment {
    padding: 0px 10px;
}

.comment img {
    width: 22px;

}
