.item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.avatar {
    display: flex;
    align-items: flex-end;
}

.avatar img {
    display: flex;
    width: 50px;
    border-radius: 30px;
}

.message {
    background-color: #0c0c0c;
    border-radius: 50px;
    padding: 15px 25px;
    width: 440px;
    min-height: 25px;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    word-break: break-all;
}
