.statistic {
    width: 550px;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    background-color: #0c0c0c;
    padding: 10px 0;
}

.box {
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}