.header {
    grid-area: h;
    background-color: black;
    display: flex;
}

.header img {
    width: 180px;
}

.title {
    width: 1000px;
    text-align: center;
    font-size: 60px;
    font-family: Comic Sans MS, Comic Sans, cursive;
    color: #314547;
    margin-left: 30px;
    text-transform: uppercase;
    letter-spacing: 5px;
    transition-duration: 1s;
}
.title span:hover {
    text-shadow: 0 0 10px #038ebc, 0 0 30px #038ebc, 0 0 80px #038ebc   ;
    color: #fff;
    transition: .15s;
}