.description {
    width: 550px;
    height: 440px;
    margin-top: 15px;
}
.title_container {
    font-family: Comic Sans MS, Comic Sans, cursive;
}

.title {
    font-size: 30px;
    letter-spacing: 1px;
    text-shadow: 0 0 10px #2196f3, 0 0 20px #2196f3;
}

.information {
    font-size: 20px;
}

.status {
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    word-break: break-all;
}