.login {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login h2 {
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: center;
    margin-bottom: 15px;
}

.testData {
    position: absolute;
    margin: 30px;
}