.dialogs {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 30px;
    padding: 15px;
    margin-top: 20px;
    grid-template-areas:
    "d m"
    "d am";
}

.dialogs textarea {
    border: 1px solid #0c0c0c;
    background-color: #0c0c0c;
    padding: 10px 0 10px 15px;
    font-family: Comic Sans MS, Comic Sans, cursive;
    cursor: text;
    color: #ffffff;
    overflow: auto;
    min-height: 80px;
    resize: vertical;
    letter-spacing: normal;
    word-spacing: normal;
    text-align: start;
    transition: .5s;
    overflow-wrap: break-word;
    width: 80%;
    outline: none;
}

.messages_box {
    background-size: 700px;
    background-image: url('https://goo.su/4ZdX');
    background-position: center center;
    padding: 20px;
    border-radius: 20px;
    grid-area: m;
}

.dialogs_box {
    margin-left: 20px;
    grid-area: d;
}
.addMessage_box {
    grid-area: am;
}