.status {
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    word-break: break-all;
    color: #acacac;
    font-size: 14px;
    height: 50px;
}

.status:hover {
    cursor: pointer;
}

.title {
    padding: 15.5px 0 10px 16px;
}